.portfolio__modal__header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.portfolio__modal__header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.portfolio__modal__header .close__modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.portfolio__modal .modal__body {
  padding: 10px 15px;
}

#portfolio__overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

#portfolio__overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.portfolio__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  z-index: 10;
  background-color: white;
  /* width: 800px; */
  width: 80%;
  height: 80%;
  color: black;
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio__modal__header {
  padding: 1rem;
}

.portfolio__modal__body {
  height: 90%;
  overflow-y: auto;
  padding: 1rem;
}

.portfolio__modal__section {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.portfolio__image__title {
  text-align: center;
}

.portfolio__modal.active {
  transform: translate(-50%, -50%) scale(1);
}
